/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* layout */
.container{
    height: 100vh;
    background-color: black;
}

/* main */
main{
    height: 90%;
    
}

main > div{
    padding: 40px 40px 5px;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.col{
    width: calc( 100% / 7 - 4px  );
    height: calc( 100% / 5 - 4px);
    margin: 2px;
    background-color: brown;
    border: 1px solid black;
}

.card{
    height: 100%;
    position: relative;
}

.name{
    background-color:#64717F;
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    padding: 2px 8px;
}

/* footer */
footer{
    height: 10%;
    background-color: #222222;
    color: white;
}

footer .text{
    font-size: 12px;
}

footer i{
    font-size: 24px;
    margin: 10px 0;
}

footer .arrow{
    position: absolute;
    right: 25%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    margin: 0;
}

.section-first > .mic,
.section-first > .cam{
    padding-right: 40px;
    text-align: center;
}

.section-second{
    display: flex;
    justify-content: center;
    width: 60%;
    padding-left: 50px;
}

.section-second > div{
    padding: 0 15px;
    text-align: center;
}

.section-second > .share-screen{
    position: relative;
}

.section-second > .share-screen > i:not(.arrow){
    color: green;
}

.section-second > .share-screen > .arrow{
    right: 0;
}

.section-first,
.section-third{
    width: 20%;
}

.section-first > .mic,
.section-first > .cam{
    height: 100%;
    width: 50%;
    position: relative;
}

.button{
    width: 40%;
    align-items: center;
    color: red;
    background-color: #4A4A4A;
    justify-content: center;
    margin-left: auto;
}